<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-5 hidden-xs">
                <div class="row">
                    <div class="col-xs-2">
                        <div class="navbar-text navbar-left">
                            <a href="#/user/{{model.uid}}/website/{{model.wid}}/page">
                                <span class="glyphicon glyphicon-chevron-left"></span></a>
                        </div>
                    </div>
                    <div class="col-xs-7">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="#/user/{{model.uid}}/website/{{model.wid}}/page">Pages</a>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="navbar-text">
                            <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/new"><span
                                    class="glyphicon glyphicon-plus"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-7 col-xs-12">
                <div class="row">
                    <div class="col-xs-2 visible-xs">
                        <div class="navbar-text navbar-left">
                            <a href="#/user/{{model.uid}}/website/{{model.wid}}/page"><span
                                    class="glyphicon glyphicon-chevron-left"></span></a>
                        </div>
                    </div>
                    <div class="col-xs-8 col-sm-10">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="#/user/{{model.uid}}/website/{{model.wid}}/page/new">New Page</a>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="navbar-text navbar-right">
                            <a ng-click="model.createPage(model.page)"><span
                                    class="glyphicon glyphicon-ok"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="hidden-xs col-sm-5">
            <ul class="list-group">
                <li ng-repeat="page in model.pages" class="list-group-item borderless">
                    <div class="row">
                        <div class="col-sm-9 col-sm-offset-left-20">
                            <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{page._id}}/widget"><label>{{page.name}}</label></a>
                        </div>
                        <div class="col-xs-3">
                            <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{page._id}}">
                                <scan class="glyphicon glyphicon-cog glyphicon-blue"></scan>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="col-xs-12 col-sm-7">
            <form>
                <div id="newPageAlert" class="alert alert-danger hidden">
                    {{model.alert}}
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-12">
                            <label for="pageName">Name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <input type="text"
                                   class="form-control"
                                   ng-model="model.page.name"
                                   id="pageName"
                                   placeholder="Page Name">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <label for="pageTile">Title</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <input type="text"
                                   class="form-control"
                                   ng-model="model.page.title"
                                   id="pageTile"
                                   placeholder="Page Title">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="navbar-text pull-right">
                    <a href="#/user/{{model.uid}}">
                        <span class="glyphicon glyphicon-user"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>
