<div class="container-fluid row">

    <div ng-show="model.error" class="alert alert-danger" role="alert">
        {{model.error}}
    </div>

    <form>
        <div class="form-group">
            <div class="col-xs-12">
                <h1>Register</h1>
            </div>
            <div class="col-xs-12">
                <input type="text"
                       class="form-control"
                       ng-model="model.user.username"
                       placeholder="username"
                       required>
            </div>
            <div class="col-xs-12">
                <input type="password"
                       class="form-control"
                       ng-model="model.user.password"
                       placeholder="password"
                       required>
            </div>
            <div class="col-xs-12">
                <input type="password"
                       class="form-control"
                       ng-model="model.user.password2"
                       placeholder="verify password"
                       required>
            </div>
        </div>
    </form>
    <div class="col-xs-12">
        <a ng-click="model.register(model.user)" class="btn btn-primary btn-block">Register</a>
    </div>
    <div class="col-xs-12">
        <a href="#/login" class="btn btn-danger btn-block">Cancel</a>
    </div>
</div>