<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid row">
        <div class="col-xs-2 col-sm-1">
            <div class="navbar-text navbar-left">
                <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget"><span
                        class="glyphicon glyphicon-chevron-left"></span></a>
            </div>
        </div>
        <div class="col-xs-10 col-sm-11">
            <div class="navbar-header">
                <a class="navbar-brand" href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget">
                    Create TEXT Widget</a>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <form>
        <div class="form-group">
            <div class="col-xs-12">
                <label for="text">Text</label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-12">
                <input ng-model="model.widget.text" class="form-control" id="text"/>
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-12">
                <label for="rows">Rows</label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-12">
                <input ng-model="model.widget.rows" class="form-control" type="number" id="rows"/>
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-12">
                <label for="placeholder">Placeholder</label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-12">
                <input ng-model="model.widget.placeholder" class="form-control" id="placeholder"/>
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-12">
                <label for="formatted">Formatted</label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-12">
                <input ng-model="model.widget.formatted" type="checkbox" id="formatted"/>
            </div>
        </div>
    </form>

    <div class="form-group">
        <div class="col-xs-12">
            <a ng-click="model.createWidget(model.widget,'TEXT')"
               class="btn btn-primary btn-block margin-top-6">Create</a>
        </div>
    </div>

</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="navbar-text pull-right">
                    <a href="#/user/{{model.uid}}">
                        <span class="glyphicon glyphicon-user"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>