<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid row">
        <div class="col-xs-2 col-sm-1">
            <div class="navbar-text navbar-left">
                <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget"><span
                        class="glyphicon glyphicon-chevron-left"></span></a>
            </div>
        </div>
        <div class="col-xs-8 col-sm-9">
            <div class="navbar-header">
                <a class="navbar-brand" href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget">
                    Edit Youtube Widget</a>
            </div>
        </div>
        <div class="col-xs-2 col-sm-2">
            <div class="navbar-text navbar-right">
                <a ng-click="model.updateWidget(model.widget)"><span
                        class="glyphicon glyphicon-ok"></span></a>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <form>
        <div class="form-group">
            <div class="col-xs-12">
                <label for="youtubeName">Name</label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-12">
                <input type="text"
                       class="form-control"
                       ng-model="model.widget.name"
                       id="youtubeName"
                       placeholder="Name">
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-12">
                <label for="youtubeText">Text</label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-12">
                <input type="text"
                       class="form-control"
                       ng-model="model.widget.text"
                       id="youtubeText"
                       placeholder="Text">
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-12">
                <label for="youtubeURL">URL</label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-12">
                <input type="text"
                       class="form-control"
                       ng-model="model.widget.url"
                       id="youtubeURL"
                       placeholder="https://www.youtube.com/user/jannunzi/playlists">
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-12">
                <label for="youtubeSize">Width</label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-12">
                <input type="text"
                       class="form-control"
                       ng-model="model.widget.width"
                       id="youtubeSize"
                       placeholder="100%">
            </div>
        </div>
    </form>
    <div class="form-group">
        <div class="col-xs-12">
            <a ng-click="model.deleteWidget()"
               class="btn btn-danger btn-block">Delete</a>
        </div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="navbar-text pull-right">
                    <a href="#/user/{{model.uid}}">
                        <span class="glyphicon glyphicon-user"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>