<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid row">
        <div class="col-xs-2 col-sm-1">
            <div class="navbar-text navbar-left">
                <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget">
                    <span class="glyphicon glyphicon-chevron-left"></span></a>
            </div>
        </div>
        <div class="col-xs-10 col-sm-11">
            <div class="navbar-header">
                <a class="navbar-brand" href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget">
                    Choose Widget</a>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-xs-offset-left-10">
            <ul style="list-style-type:none" class="chooser">
                <li><a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/new/HEADER">
                    <label>Header</label></a></li>
                <li><a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/new/HTML">
                    <label>HTML</label></a></li>
                <li><a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/new/IMAGE">
                    <label>Image</label></a></li>
                <li><a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/new/YOUTUBE">
                <label>Youtube</label></a></li>
                <li><a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/new/TEXT">
                    <label>Text</label></a></li>
            </ul>
        </div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="navbar-text pull-right">
                    <a href="#/user/{{model.uid}}">
                        <span class="glyphicon glyphicon-user"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>
