<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../css/style.css" rel="stylesheet"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Widgets</title>
</head>

<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid row">
        <div class="col-xs-2 col-sm-1">
            <div class="navbar-text navbar-left">
                <a href="widget-list.view.client.html"><span class="glyphicon glyphicon-chevron-left"></span></a>
            </div>
        </div>
        <div class="col-xs-10 col-sm-11">
            <div class="navbar-header">
                <a class="navbar-brand" href="widget-list.view.client.html">Choose Widget</a>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-xs-offset-left-10">
            <ul style="list-style-type:none" class="chooser">
                <li><a href="widget-heading.view.client.html"><label>Header</label></a></li>
                <li><a href="widget-heading.view.client.html"><label>Label</label></a></li>
                <li><a href="widget-heading.view.client.html"><label>HTML</label></a></li>
                <li><a href="widget-heading.view.client.html"><label>Text Input</label></a></li>
                <li><a href="widget-heading.view.client.html"><label>Link</label></a></li>
                <li><a href="widget-heading.view.client.html"><label>Button</label></a></li>
                <li><a href="widget-image.view.client.html"><label>Image</label></a></li>
                <li><a href="widget-youtube.view.client.html"><label>Youtube</label></a></li>
                <li><a href="widget-youtube.view.client.html"><label>Data Table</label></a></li>
                <li><a href="widget-youtube.view.client.html"><label>Repeater</label></a></li>
            </ul>
        </div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="navbar-text pull-right">
                    <a href="../views/user/profile.html">
                        <span class="glyphicon glyphicon-user"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>
</body>
</html>