<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid row">
        <div class="col-xs-2 col-sm-1">
            <div class="navbar-text navbar-left">
                <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget"><span
                        class="glyphicon glyphicon-chevron-left"></span></a>
            </div>
        </div>
        <div class="col-xs-10 col-sm-11">
            <div class="navbar-header">
                <a class="navbar-brand" href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget">
                    Create IMAGE Widget</a>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <form>
        <div class="form-group">
            <div class="col-xs-12">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" placeholder="Name" ng-model="model.widget.name">
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-12">
                <label for="imagetext">Text</label>
                <input type="text" class="form-control" id="imagetext" placeholder="Your Text Here"
                       ng-model="model.widget.description"></div>
        </div>
        <div class="form-group">
            <div class="col-xs-12">
                <label for="url">URL</label>
                <input type="url" class="form-control" id="url" placeholder="http://imgblur.com/amar"
                       ng-model="model.widget.url">
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-12">
                <label for="width">Width</label>
                <input type="text" class="form-control" id="width" placeholder="Width in %"
                       ng-model="model.widget.width">
            </div>
        </div>
    </form>

    <div class="form-group">
        <div class="col-xs-12">
            <form id="image" action="/api/upload" method="post" enctype="multipart/form-data">
                <label>Upload</label>
                <input name="myFile" type="file" required class="form-control"/>
                <input name="name" value="{{model.widget.name}}" style="display: none"/>
                <input name="description" value="{{model.widget.description}}" style="display: none"/>
                <input name="width" value="{{model.widget.width}}" style="display: none"/>
                <input name="widgetId" value="{{model.wgid}}" style="display: none"/>
                <input name="userId" value="{{model.uid}}" style="display: none"/>
                <input name="pageId" value="{{model.pid}}" style="display: none"/>
                <input name="websiteId" value="{{model.wid}}" style="display: none"/>
                <button type="submit" class="btn btn-block btn-primary">Upload Image</button>
            </form>
        </div>
    </div>
    </form>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="navbar-text pull-right">
                    <a href="#/user/{{model.uid}}">
                        <span class="glyphicon glyphicon-user"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>
