<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid row">
        <div class="col-xs-2 col-sm-1">
            <div class="navbar-text navbar-left">
                <a href="#/user/{{model.uid}}/website/{{model.wid}}/page"><span
                        class="glyphicon glyphicon-chevron-left"></span></a>
            </div>
        </div>
        <div class="col-xs-8 col-sm-9">
            <div class="navbar-header">
                <a class="navbar-brand" href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget">Widgets</a>
            </div>
        </div>
        <div class="col-xs-2 col-sm-2">
            <div class="navbar-text navbar-right">
                <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/new"><span
                        class="glyphicon glyphicon-plus"></span></a>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <ul class="list-group">
        <li ng-repeat="widget in model.widgets" ng-switch="widget.widgetType" class="list-group-item borderless">
            <div class="relative-position">
                <div class="container-fluid heading2">
                    <div ng-switch-when="YOUTUBE">
                        <iframe width="100%" height="100%" src="{{model.safeUrl(widget.url)}}"
                                frameborder="0" allowfullscreen></iframe>
                    </div>
                    <div ng-switch-when="HTML">
                        <div ng-bind-html="model.safeHtml(widget.text)"></div>
                    </div>
                    <div ng-switch-when="IMAGE">
                        <img width="{{widget.width}}" ng-src="{{model.checkSafeImage(widget.url)}}">
                    </div>
                    <div ng-switch-when="HEADER">
                        <div ng-switch="widget.size">
                            <div ng-switch-when="1"><h1>{{widget.text}}</h1></div>
                            <div ng-switch-when="2"><h2>{{widget.text}}</h2></div>
                            <div ng-switch-when="3"><h3>{{widget.text}}</h3></div>
                            <div ng-switch-when="4"><h4>{{widget.text}}</h4></div>
                            <div ng-switch-when="5"><h5>{{widget.text}}</h5></div>
                            <div ng-switch-when="6"><h6>{{widget.text}}</h6></div>
                        </div>
                    </div>
                    <div class="absolute-position overlay">
                        <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/{{widget._id}}">
                            <scan class="glyphicon glyphicon-cog glyphicon-blue"></scan>
                        </a>
                        <scan class="glyphicon glyphicon-align-justify glyphicon-blue"></scan>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="navbar-text pull-right">
                    <a href="#/user/{{model.uid}}">
                        <span class="glyphicon glyphicon-user"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>
