<div class="container-fluid">
    <ul class="list-group jga-sortable" id="widgetList">
        <li ng-repeat="widget in model.widgets" ng-switch="widget.widgetType" class="list-group-item borderless">
            <div class="relative-position">
                <div class="container-fluid heading2">
                    <div ng-switch-when="YOUTUBE" class="youtube-widget">
                        <iframe width="100%" height="100%" ng-src="{{model.safeYoutubeUrl(widget.url)}}"
                                frameborder="0" allowfullscreen></iframe>
                    </div>
                    <div ng-switch-when="HTML">
                        <div ng-bind-html="model.safeHtml(widget.text)"></div>
                    </div>
                    <div ng-switch-when="IMAGE">
                        <img width="{{widget.width}}" ng-src="{{model.checkSafeImage(widget.url)}}">
                    </div>
                    <div ng-switch-when="HEADER">
                        <div ng-switch="widget.size">
                            <div ng-switch-when="1"><h1>{{widget.text}}</h1></div>
                            <div ng-switch-when="2"><h2>{{widget.text}}</h2></div>
                            <div ng-switch-when="3"><h3>{{widget.text}}</h3></div>
                            <div ng-switch-when="4"><h4>{{widget.text}}</h4></div>
                            <div ng-switch-when="5"><h5>{{widget.text}}</h5></div>
                            <div ng-switch-when="6"><h6>{{widget.text}}</h6></div>
                        </div>
                    </div>
                    <div ng-switch-when="TEXT">
                        <div ng-if="widget.formatted" text-angular ta-toolbar="..."></div>
                        <input ng-if="!widget.formatted && (!widget.rows || widget.rows===1)"
                               placeholder="{{widget.textInput.placeholder}}" class="form-control"/>
                        <textarea ng-if="!widget.formatted && (widget.rows > 1)"
                                  rows="{{widget.rows}}" placeholder="{{widget.placeholder}}"
                                  class="form-control">{{widget.text}}</textarea>
                    </div>
                    <div class="absolute-position overlay">
                        <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/{{widget._id}}">
                            <scan class="glyphicon glyphicon-cog glyphicon-blue"></scan>
                        </a>
                        <scan class="glyphicon glyphicon-align-justify glyphicon-blue"></scan>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>